In [1]:
#Load all the required librarires 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('mode.chained_assignment', None)
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression

In [2]:
#set working directory
df=os.chdir("C:/Users/Navaneeth/Desktop/DataSet")
#set display option to display all the columns in a dataframe
pd.set_option('display.max_columns', 30)
#load the train data
train=pd.read_csv("Train.csv")
print("The shape of Train dataset is :",train.shape)
#Load the test data
test=pd.read_csv("Test.csv")
print('The shape of test dataset is :',test.shape)

The shape of Train dataset is : (1284, 19)
The shape of test dataset is : (964, 18)

In [3]:
#visulaize the first 10 rows of train data
train.head(10)

,id_code,current_date,current_time,source_name,destination_name,train_name,target,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend
0,isfywypmkqqhyft,2016-07-27,08:05:51 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
1,mqsfxyvuqpbwomk,2016-07-27,08:06:11 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
2,alspwwtbdvqsgby,2016-07-27,08:08:57 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
3,szitxhhqduyrqpg,2016-07-27,08:09:08 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
4,krisdqzczivvwcp,2016-07-27,08:11:01 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
5,orrnrrynwpmcxmm,2016-07-27,08:11:50 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
6,raoheuoxqijqxcz,2016-07-27,08:12:47 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
7,huhiqfxnerbedmq,2016-07-27,08:13:23 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
8,igqcnhdcmejjkah,2016-07-27,08:15:38 PM,station$147,station$1,UNDEFINED,medium,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
9,taxcjmdnymvsvva,2016-07-27,08:16:51 PM,station$147,station$1,UNDEFINED,medium,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False

In [4]:
#visulaize the first 10 rows of test data
test.head(10)

,id_code,current_date,current_time,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend
0,mckbezdplrukagl,2016-10-06,01:05:38 AM,station$143,station$142,SZAYASZ,whber,4.243393,50.866728,39.121387,whber,4.273543,50.868337,39.121387,2016,40,Thursday,False
1,agxwrnbmzbyxsjg,2016-10-06,01:05:56 AM,station$133,station$147,ICXYXY,whber,4.326220,50.880833,95.676301,whber,4.356801,50.845658,634.164740,2016,40,Thursday,False
2,iqjojyewdyfshtj,2016-10-06,06:11:54 AM,station$632,station$544,ICWAT,whber,3.264549,50.824506,153.115607,whber,3.710675,51.035896,309.014451,2016,40,Thursday,False
3,hssqexnzirioaag,2016-10-06,07:00:00 AM,station$296,station$281,ICWYR,whber,5.599695,50.613152,87.130058,whber,5.566695,50.624550,269.124277,2016,40,Thursday,False
4,lublknpfraiznhr,2016-10-06,07:00:09 AM,station$281,station$266,ICWYR,whber,5.566695,50.624550,269.124277,whber,4.715866,50.882280,351.916185,2016,40,Thursday,False
5,hgqkwjbpavdwmob,2016-10-06,07:00:15 AM,station$266,station$130,ICWYR,whber,4.715866,50.882280,351.916185,whber,4.360846,50.859663,640.265896,2016,40,Thursday,False
6,tcoajkwstpxkrdx,2016-10-06,07:00:19 AM,station$130,station$147,ICWYR,whber,4.360846,50.859663,640.265896,whber,4.356801,50.845658,634.164740,2016,40,Thursday,False
7,muqhmlfqyzozvkn,2016-10-06,07:00:25 AM,station$147,station$150,ICWYR,whber,4.356801,50.845658,634.164740,whber,4.336531,50.835707,686.615607,2016,40,Thursday,False
8,zdwfnxlivjlitzd,2016-10-06,07:04:27 AM,station$296,station$147,ICWYR,whber,5.599695,50.613152,87.130058,whber,4.356801,50.845658,634.164740,2016,40,Thursday,False
9,wznosynddwsawbv,2016-10-06,07:07:43 AM,station$266,station$147,ICVYR,whber,4.715866,50.882280,351.916185,whber,4.356801,50.845658,634.164740,2016,40,Thursday,False

In [5]:
# change the UNDEFINED row values to NaN under train_name column for train dataset
for i in range(0,train.shape[0]):
    if (train.loc[i,'train_name']=='UNDEFINED'):
        train.loc[i,'train_name']='NaN'

In [6]:
# Check for duplicate rows in train and test dataset
print('The number of duplicate rows in train dataset is :',train.duplicated().sum())
print('The number of duplicate rows in test dataset is :',test.duplicated().sum())

The number of duplicate rows in train dataset is : 0
The number of duplicate rows in test dataset is : 0

In [7]:
#check for the colum datatypes
train.dtypes

id_code                         object
current_date                    object
current_time                    object
source_name                     object
destination_name                object
train_name                      object
target                          object
country_code_source             object
longitude_source               float64
latitude_source                float64
mean_halt_times_source         float64
country_code_destination        object
longitude_destination          float64
latitude_destination           float64
mean_halt_times_destination    float64
current_year                     int64
current_week                     int64
current_day                     object
is_weekend                        bool
dtype: object

In [8]:
#Drop the target column and move it to the last
train_target=train['target']
train.drop('target',axis=1,inplace=True)
final=pd.concat([train,train_target],axis=1)
final.rename(columns={0:'target'},inplace=True)
final.head(5)

,id_code,current_date,current_time,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend,target
0,isfywypmkqqhyft,2016-07-27,08:05:51 PM,station$147,station$1,ICZVZS,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False,high
1,mqsfxyvuqpbwomk,2016-07-27,08:06:11 PM,station$147,station$1,ICZVZS,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False,high
2,alspwwtbdvqsgby,2016-07-27,08:08:57 PM,station$147,station$1,ICZVZS,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False,high
3,szitxhhqduyrqpg,2016-07-27,08:09:08 PM,station$147,station$1,ICZVZS,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False,high
4,krisdqzczivvwcp,2016-07-27,08:11:01 PM,station$147,station$1,ICZVZS,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False,high

In [9]:
#Combine current_date & current_time columns as single column for simplification and further change the datatype as "to_datetime"

# For Train
final['current_date']=final['current_date']+ ' ' +final['current_time']
final.rename(columns={'current_date':'current_date_time'},inplace=True)
final.drop('current_time',axis=1,inplace=True)
final['current_date_time']=pd.to_datetime(final.current_date_time)

# For test 
test['current_date']= test['current_date']+' '+test['current_time']
test.rename(columns={'current_date':'current_date_time'},inplace=True)
test.drop('current_time',axis=1,inplace=True)
test['current_date_time']=pd.to_datetime(test.current_date_time)

# Missing Value Analysis

In [10]:
#Get the percentage of missing values of each column in the decreasing order

missing_val = pd.DataFrame(final.isnull().sum())
missing_val = missing_val.reset_index()
#Rename variables
missing_val = missing_val.rename(columns = {'index': 'Variables', 0: 'Missing_percentage'})
#Calculate percentage
missing_val['Missing_percentage'] = (missing_val['Missing_percentage']/len(final))*100
#descending order
missing_val = missing_val.sort_values('Missing_percentage', ascending = False).reset_index(drop = True)
print(missing_val)

                      Variables  Missing_percentage
0      country_code_destination            2.570093
1   mean_halt_times_destination            2.570093
2         longitude_destination            2.570093
3          latitude_destination            2.570093
4           country_code_source            0.077882
5              longitude_source            0.077882
6               latitude_source            0.077882
7        mean_halt_times_source            0.077882
8                    is_weekend            0.000000
9                   current_day            0.000000
10                 current_week            0.000000
11                 current_year            0.000000
12                      id_code            0.000000
13            current_date_time            0.000000
14                   train_name            0.000000
15             destination_name            0.000000
16                  source_name            0.000000
17                       target            0.000000

In [11]:
#Drop the missing values as the percentage of missing data is very less
new_data = final.dropna(axis = 0, how ='any')
new_data.reset_index(drop=True,inplace=True)
print('The shape of new data is ',new_data.shape)

The shape of new data is  (1250, 18)

In [12]:
# Checck for missing data after dropping NaNs
new_data.isnull().sum()

id_code                        0
current_date_time              0
source_name                    0
destination_name               0
train_name                     0
country_code_source            0
longitude_source               0
latitude_source                0
mean_halt_times_source         0
country_code_destination       0
longitude_destination          0
latitude_destination           0
mean_halt_times_destination    0
current_year                   0
current_week                   0
current_day                    0
is_weekend                     0
target                         0
dtype: int64

In [13]:
# Checck for missing data in the test dataset
test.isnull().sum()

id_code                        0
current_date_time              0
source_name                    0
destination_name               0
train_name                     0
country_code_source            0
longitude_source               0
latitude_source                0
mean_halt_times_source         0
country_code_destination       0
longitude_destination          0
latitude_destination           0
mean_halt_times_destination    0
current_year                   0
current_week                   0
current_day                    0
is_weekend                     0
dtype: int64

# Feature Selection/Transformation

In [14]:
# Take hour part and derive new column called "part_of_day"
new_data['hour']=new_data.current_date_time.dt.hour
new_data['part_of_day']=""

# based on the hour fill the 'part_of_day' column
for i in range (0,new_data.shape[0]):
    if(new_data['hour'].loc[i] >=5 and new_data['hour'].loc[i] <12 ):
        new_data['part_of_day'].loc[i]= "Morning"
    elif (new_data['hour'].loc[i] >=12 and new_data['hour'].loc[i] <17 ):
        new_data['part_of_day'].loc[i]= "Noon"
    elif(new_data['hour'].loc[i] >=17 and new_data['hour'].loc[i] <20 ):
        new_data['part_of_day'].loc[i]= "Evening"
    else :
        new_data['part_of_day'].loc[i]= "Night"

In [15]:
#Visualize the first 5 rows of the above transformed data
new_data.head(5)

,id_code,current_date_time,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend,target,hour,part_of_day
0,mgtoldpcbopaoba,2016-07-27 23:41:46,station$130,station$214,ICWVYA,whber,4.360846,50.859663,640.265896,whber,4.482785,51.017648,306.523121,2016,30,Wednesday,False,high,23,Night
1,hbvekntxnxearzq,2016-07-28 00:04:25,station$248,station$248,ICZVXY,whber,5.497685,50.967057,39.476879,whber,5.497685,50.967057,39.476879,2016,30,Thursday,False,low,0,Night
2,rfwvjolvzoekxsq,2016-07-28 00:18:09,station$248,station$147,ICZVXY,whber,5.497685,50.967057,39.476879,whber,4.356801,50.845658,634.164740,2016,30,Thursday,False,low,0,Night
3,jcbfhwsqzpcifpe,2016-07-28 00:38:28,station$177,station$130,ICXUYS,whber,4.482076,50.896456,171.020231,whber,4.360846,50.859663,640.265896,2016,30,Thursday,False,high,0,Night
4,qfnccvisvjzlkxg,2016-07-28 08:50:27,station$544,station$147,ICZVAT,whber,3.710675,51.035896,309.014451,whber,4.356801,50.845658,634.164740,2016,30,Thursday,False,medium,8,Morning

In [16]:
# Take hour part and derive new column called "part_of_day" for test dataset

test['hour']=new_data.current_date_time.dt.hour
test['part_of_day']=""
for i in range (0,test.shape[0]):
    if(test['hour'].loc[i] >=5 and test['hour'].loc[i] <12 ):
        test['part_of_day'].loc[i]= "Morning"
    elif (test['hour'].loc[i] >=12 and test['hour'].loc[i] <17 ):
        test['part_of_day'].loc[i]= "Noon"
    elif(test['hour'].loc[i] >=17 and test['hour'].loc[i] <20 ):
        test['part_of_day'].loc[i]= "Evening"
    else :
        test['part_of_day'].loc[i]= "Night"

In [17]:
#Drop unnecessary columns
new_data.drop(['id_code','current_date_time','current_year','hour'],axis=1,inplace=True)
test.drop(['id_code','current_date_time','current_year','hour'],axis=1,inplace=True)

In [18]:
# Re-arrange the columns so that the target column comes at the end
cols = list(new_data.columns.values)
cols.pop(cols.index('part_of_day'))
cols.pop(cols.index('target'))
n = new_data[cols+['part_of_day','target']]

In [19]:
#Visualize the first 5 rows of the above transformed train data
n.head(5)

,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_week,current_day,is_weekend,part_of_day,target
0,station$130,station$214,ICWVYA,whber,4.360846,50.859663,640.265896,whber,4.482785,51.017648,306.523121,30,Wednesday,False,Night,high
1,station$248,station$248,ICZVXY,whber,5.497685,50.967057,39.476879,whber,5.497685,50.967057,39.476879,30,Thursday,False,Night,low
2,station$248,station$147,ICZVXY,whber,5.497685,50.967057,39.476879,whber,4.356801,50.845658,634.164740,30,Thursday,False,Night,low
3,station$177,station$130,ICXUYS,whber,4.482076,50.896456,171.020231,whber,4.360846,50.859663,640.265896,30,Thursday,False,Night,high
4,station$544,station$147,ICZVAT,whber,3.710675,51.035896,309.014451,whber,4.356801,50.845658,634.164740,30,Thursday,False,Morning,medium

In [20]:
#Visualize the first 5 rows of the above transformed test data
test.head(5)

,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_week,current_day,is_weekend,part_of_day
0,station$143,station$142,SZAYASZ,whber,4.243393,50.866728,39.121387,whber,4.273543,50.868337,39.121387,40,Thursday,False,Night
1,station$133,station$147,ICXYXY,whber,4.326220,50.880833,95.676301,whber,4.356801,50.845658,634.164740,40,Thursday,False,Night
2,station$632,station$544,ICWAT,whber,3.264549,50.824506,153.115607,whber,3.710675,51.035896,309.014451,40,Thursday,False,Night
3,station$296,station$281,ICWYR,whber,5.599695,50.613152,87.130058,whber,5.566695,50.624550,269.124277,40,Thursday,False,Night
4,station$281,station$266,ICWYR,whber,5.566695,50.624550,269.124277,whber,4.715866,50.882280,351.916185,40,Thursday,False,Morning

# Normalization

In [21]:
#Normalization (can also be done using sklearn's minmax)

# For train data
cnames= ['longitude_source','latitude_source','mean_halt_times_source','longitude_destination','latitude_destination','mean_halt_times_destination']
for i in cnames:
    print(i)
    n[i] = (n[i] - min(n[i]))/(max(n[i]) - min(n[i]))
    
# For test data
for i in cnames :
    test[i] = (test[i] - min(test[i]))/(max(test[i]) - min(test[i]))

longitude_source
latitude_source
mean_halt_times_source
longitude_destination
latitude_destination
mean_halt_times_destination

# Convert Catregorical data to Numeric

In [22]:
#Check the count of each of the target variables
n.target.value_counts()

low       531
high      376
medium    343
Name: target, dtype: int64

In [23]:
#Label Encoding

# For train dataset
names=['source_name','destination_name','train_name','country_code_source','country_code_destination','current_day','is_weekend','part_of_day','target']
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for i in names:
    n[i]=encoder.fit_transform(n[i])
    
    
# For test dataset
newnames=names[:-1]
for i in newnames:
    test[i]=encoder.fit_transform(test[i])

In [24]:
#Check for the 5 rows of train data
n.head(5)

,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_week,current_day,is_weekend,part_of_day,target
0,13,65,72,2,0.734556,0.534061,0.932495,3,0.626976,0.847436,0.446426,30,6,0,2,0
1,68,82,336,2,0.920669,0.581027,0.057495,3,0.779875,0.841767,0.057495,30,4,0,2,1
2,68,28,336,2,0.920669,0.581027,0.057495,3,0.607997,0.828163,0.923610,30,4,0,2,1
3,37,15,146,2,0.754403,0.550152,0.249077,3,0.608606,0.829733,0.932495,30,4,0,2,0
4,144,28,324,2,0.628116,0.611132,0.450055,3,0.607997,0.828163,0.923610,30,4,0,1,2

In [25]:
# As requested save the cleaned and Normalized dataset as re_train.csv
n.to_csv("re_train.csv",index=False)

In [26]:
# Using SMOTE sampling to balance the target classes
smote=SMOTE(ratio='auto',random_state=123)
X_smote, Y_smote = smote.fit_sample(n.iloc[:,:-1], n['target'])

In [27]:
#Check the count of each of the target variables after SMOTE sampling
pd.Series(Y_smote).value_counts()

2    531
1    531
0    531
dtype: int64

# Random Forest Model with 4-Fold Cross Validation

In [30]:
#Initialize the Random forest model
r=RandomForestClassifier(random_state=1)
# Define the list of estimators for the Random forest to be built
est=list([50,100,200,300,400,500,600,700,800])
param_grid= dict(n_estimators=est)
print(param_grid)
# instantiate the gridsearch using random forest model
grid_rf = GridSearchCV(r, param_grid, cv=4,scoring='f1_micro', return_train_score=False)
# Fit the random forest grid
grid_rf.fit(X_smote,Y_smote)
#Print the best estimated model
print("The best cross validated estimator of Random Forest is :",grid_rf.best_estimator_)
# Print the best score of r-square
print("The best cross validated f1-score of Random Forest is :",grid_rf.best_score_)
#Print the given parameters & corresponding r-square value from each 10-fold cross validation 
pd.DataFrame(grid_rf.cv_results_)[[ 'params','mean_test_score']]

{'n_estimators': [50, 100, 200, 300, 400, 500, 600, 700, 800]}

C:\Users\Navaneeth\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

The best cross validated estimator of Random Forest is : RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=700, n_jobs=None,
            oob_score=False, random_state=1, verbose=0, warm_start=False)
The best cross validated f1-score of Random Forest is : 0.4883866917765223

                  params  mean_test_score
0   {'n_estimators': 50}         0.475204
1  {'n_estimators': 100}         0.477087
2  {'n_estimators': 200}         0.478343
3  {'n_estimators': 300}         0.486503
4  {'n_estimators': 400}         0.480854
5  {'n_estimators': 500}         0.483992
6  {'n_estimators': 600}         0.484620
7  {'n_estimators': 700}         0.488387
8  {'n_estimators': 800}         0.484620

# Multinomial Naive Bayes Model with 4-Fold Cross Validation

In [31]:
# Import the Multinomial NB model
nb = MultinomialNB()
# Define the list of estimators for the Multinomial NB model to be built
est=list([0.01,0.1,0.2,0.5,1,2,3,4])
param_grid= dict(alpha=est)
print(param_grid)
# instantiate the gridsearch using Multinomial NB model
grid_nb = GridSearchCV(nb, param_grid, cv=4,scoring='f1_micro', return_train_score=False)
# Fit the Multinomial NB model
grid_nb.fit(X_smote,Y_smote)
#Print the best estimated model
print("The best cross validated estimator of Multinomial NB model is :",grid_nb.best_estimator_)
# Print the best score of accuracy
print("The best cross validated Accuracy of Multinomial NB model is :",grid_nb.best_score_)
#Print the given parameters & corresponding accuracy value from each 4-fold cross validation 
pd.DataFrame(grid_nb.cv_results_)[[ 'params','mean_test_score']]

{'alpha': [0.01, 0.1, 0.2, 0.5, 1, 2, 3, 4]}
The best cross validated estimator of Multinomial NB model is : MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True)
The best cross validated Accuracy of Multinomial NB model is : 0.33019460138104206

            params  mean_test_score
0  {'alpha': 0.01}         0.330195
1   {'alpha': 0.1}         0.330195
2   {'alpha': 0.2}         0.330195
3   {'alpha': 0.5}         0.330195
4     {'alpha': 1}         0.330195
5     {'alpha': 2}         0.330195
6     {'alpha': 3}         0.330195
7     {'alpha': 4}         0.330195

# Logistic Regression Model with 4-Fold Cross Validation

In [32]:
# Import the Logistic Regression model
lr= LogisticRegression(random_state=0)
# Define the list of estimators for Logistic Regression model to be built
est=list([0.0001,0.001,0.01,0.1,1,5,10,15,20,25,30])
param_grid= dict(C=est)
print(param_grid)
grid_lr = GridSearchCV(lr, param_grid, cv=4,scoring='f1_micro', return_train_score=False)
# Fit the random forest grid
grid_lr.fit(X_smote,Y_smote)
#Print the best estimated model
print("The best cross validated estimator of Logistic Regression model is :",grid_lr.best_estimator_)
# Print the best score of accuracy
print("The best cross validated f1-score of Logistic Regression model is :",grid_lr.best_score_)
#Print the given parameters & corresponding accuracy value from each 4-fold cross validation 
pd.DataFrame(grid_lr.cv_results_)[[ 'params','mean_test_score']]

{'C': [0.0001, 0.001, 0.01, 0.1, 1, 5, 10, 15, 20, 25, 30]}
The best cross validated estimator of Logistic Regression model is : LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)
The best cross validated f1-score of Logistic Regression model is : 0.4005021971123666

C:\Users\Navaneeth\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

           params  mean_test_score
0   {'C': 0.0001}         0.342750
1    {'C': 0.001}         0.374765
2     {'C': 0.01}         0.384809
3      {'C': 0.1}         0.400502
4        {'C': 1}         0.389203
5        {'C': 5}         0.387947
6       {'C': 10}         0.392969
7       {'C': 15}         0.394225
8       {'C': 20}         0.396108
9       {'C': 25}         0.395480
10      {'C': 30}         0.394225

# Finalising and Prediction of test dataset

In [33]:
# Predict on the test dataset using the Random Forest model
rf_predicted=grid_rf.predict(test)
import numpy as np
np.unique(rf_predicted)

array([0, 1, 2])

In [34]:
# Saving the predictions as required in the csv format

pred_df = pd.DataFrame(rf_predicted)
test2=pd.read_csv("Test.csv",usecols=['id_code'])
f=pd.concat([test2,pred_df],axis=1)
f.rename(columns={0:'target'},inplace=True)
f['target']=np.where(f['target']==0,'high',np.where(f['target']==1,'low','medium'))
f.to_csv("submission_smote.csv",index=False)